
    <entry>
        <title>BIT-101 Lab - YYMMDD</title>
        <link href="https://bit101.github.io/lab/dailies/YYMMDD.html"/>
        <id>https://bit101.github.io/lab/dailies/YYMMDD.html</id>
        <updated>NOWZ</updated>
        <summary>BIT-101 Lab experiment for TODAY</summary>
    </entry>
</feed>
