html, body {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
}

.home_button {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1000;
    background-color: #666666;
    border: 1px solid black;
    color: black;
    padding: 3px 5px;
    font: 12px Arial;
    -webkit-box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.5);
}

.info {
    position: absolute;
    z-index: 1001;
    font:  12px Arial;
    background-color: #666666;
    border: 1px solid black;
    color: black;
    width: 200px;
    top: 5px;
    right: 5px;
    padding: 5px;
    -webkit-box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.5);
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
